<!-- Sección de Bienvenida con Video de Fondo -->
<section
  class="hero-section h-screen flex items-center justify-center relative"
>
  <!-- Video de fondo -->
  <video
    autoplay
    muted
    loop
    class="absolute inset-0 w-full h-full object-cover"
  >
    <source src="assets/video/video-hero-home.mp4" type="video/mp4" />
    <!-- Si el navegador no puede reproducir el video, proporciona una imagen de respaldo -->
    <img
      src="tu-imagen.jpg"
      alt="Video de fondo"
      class="object-cover w-full h-full"
    />
  </video>

  <!-- Contenido del Hero -->
  <div class="text-center text-white font-poppins relative mx-14 lg:mx-44">
    <!-- Título -->
    <h1 class="text-5xl font-bold mb-4 lg:text-6xl" id="title-hero">
      ¡Bienvenido a Huella Verde!
    </h1>
    <!-- Mensaje de Bienvenida -->
    <p class="text-lg mb-6 font-normal lg:text-xl" id="paragraph-hero">
      Descubre cómo puedes reducir tu huella de carbono y vivir de manera más
      sostenible.
    </p>
    <!-- Contenedor para centrar el botón -->
    <div class="flex justify-center">
      <!-- Llamado a la Acción -->
      <button
        class="bg-[#4F772D] hover:bg-[#31572C] text-white font-semibold px-5 py-3 rounded-md shadow-lg transition duration-300 flex items-center"
      >
        Comenzar Ahora
        <i
          class="fa-solid fa-arrow-right ml-2 transition-transform duration-300 transform"
          style="margin-top: 1px"
        ></i>
      </button>
    </div>
  </div>
</section>

<!-- Segunda Sección -->
<section
  class="bg-section-presentation flex min-h-screen items-center justify-center"
>
  <!-- Grid -->
  <div
    class="mx-24 my-16 grid grid-cols-1 items-center gap-8 md:grid-cols-1 md:gap-10 lg:mx-36 lg:grid-cols-2 lg:gap-20"
  >
    <!-- Primera Columna -->
    <div>
      <!-- Título -->
      <h2 class="my-5 font-poppins text-3xl font-bold md:text-4xl lg:my-8">
        Huella Verde. Tu Guía hacia una vida sostenible 🌿🌍.
      </h2>
      <!-- Párrafo -->
      <p class="my-8 text-base md:text-lg font-poppins lg:my-10">
        Somos una plataforma educativa dedicada a informar y concientizar sobre
        la importancia de reducir nuestra huella de carbono y promover estilos
        de vida más sostenibles 🌱.
      </p>
      <!-- Botón Llamado a la Acción -->
      <button
        class="my-5 bg-[#4F772D] hover:bg-[#31572C] rounded-md text-white font-semibold px-5 py-3 font-poppins shadow-md flex items-center"
      >
        Explorar más
        <i
          class="fa-solid fa-arrow-right ml-2 transition-transform duration-300 transform"
          style="margin-top: 1px"
        ></i>
      </button>
    </div>
    <!-- Segunda Columna (Imagen) -->
    <div class="flex items-center justify-center">
      <img
        src="assets/img/img-presentation-2.png"
        alt="Descripción de la imagen"
        class="object-contain rounded-md shadow-md"
      />
    </div>
  </div>
</section>
