button i.fa-arrow-right:hover {
  transform: translateX(5px); /* Ajusta la cantidad de desplazamiento */
}

/* Estilos para el título */
#title-hero {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para el párrafo */
#paragraph-hero {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
