<!-- Sección de Bienvenida con Video de Fondo -->
<section
  class="hero-section h-screen flex items-center justify-center relative"
>
  <!-- Video de fondo -->
  <video
    autoplay
    muted
    loop
    class="absolute inset-0 w-full h-full object-cover"
  >
    <source src="assets/video/video-hero-home.mp4" type="video/mp4" />
    <!-- Si el navegador no puede reproducir el video, proporciona una imagen de respaldo -->
    <img
      src="tu-imagen.jpg"
      alt="Video de fondo"
      class="object-cover w-full h-full"
    />
  </video>

  <!-- Contenido del Hero -->
  <div class="text-center text-white font-poppins relative mx-14 lg:mx-44">
    <!-- Título -->
    <h1
      data-aos="fade-up"
      class="text-5xl font-bold mb-4 lg:text-6xl"
      id="title-hero"
    >
      ¡Bienvenido a Huella Verde!
    </h1>
    <!-- Mensaje de Bienvenida -->
    <p
      data-aos="fade-up"
      class="text-lg mb-6 font-normal lg:text-xl"
      id="paragraph-hero"
    >
      Descubre cómo puedes reducir tu huella de carbono y vivir de manera más
      sostenible.
    </p>
    <!-- Contenedor para centrar el botón -->
    <div data-aos="fade-up" class="flex justify-center">
      <!-- Llamado a la Acción -->
      <button
        class="bg-[#4F772D] hover:bg-[#31572C] text-white font-semibold px-5 py-3 rounded-md shadow-lg transition duration-300 flex items-center"
      >
        Comenzar Ahora
        <i
          class="fa-solid fa-arrow-right ml-2 transition-transform duration-300 transform"
          style="margin-top: 1px"
        ></i>
      </button>
    </div>
  </div>
</section>

<!-- Segunda Sección -->
<section
  class="bg-section-presentation flex min-h-screen items-center justify-center"
>
  <!-- Grid -->
  <div
    class="mx-24 my-16 grid grid-cols-1 items-center gap-8 md:grid-cols-1 md:gap-10 lg:mx-72 lg:grid-cols-2 lg:gap-20"
  >
    <!-- Primera Columna -->
    <div>
      <!-- Título -->
      <h2
        data-aos="fade-up"
        class="my-5 font-poppins text-3xl font-bold md:text-4xl lg:my-8"
      >
        Huella Verde. Tu Guía hacia una vida sostenible 🌿🌍.
      </h2>
      <!-- Párrafo -->
      <p
        data-aos="fade-up"
        class="my-8 text-base md:text-lg font-poppins lg:my-10"
      >
        Somos una plataforma educativa dedicada a informar y concientizar sobre
        la importancia de reducir nuestra huella de carbono y promover estilos
        de vida más sostenibles 🌱.
      </p>
      <!-- Botón Llamado a la Acción -->
      <button
        data-aos="fade-up"
        class="my-5 bg-[#4F772D] hover:bg-[#31572C] rounded-md text-white font-semibold px-5 py-3 font-poppins shadow-md flex items-center"
      >
        Explorar más
        <i
          class="fa-solid fa-arrow-right ml-2 transition-transform duration-300 transform"
          style="margin-top: 1px"
        ></i>
      </button>
    </div>
    <!-- Segunda Columna (Imagen) -->
    <div class="flex items-center justify-center">
      <img
        data-aos="fade-left"
        src="assets/img/img-presentation-2.png"
        alt="Descripción de la imagen"
        class="object-contain rounded-md shadow-md"
      />
    </div>
  </div>
</section>

<!-- Tercera Sección -->
<section class="flex items-center justify-center min-h-screen font-poppins">
  <div class="py-8 px-4 mx-24 max-w-screen-xl lg:py-16">
    <!-- Primer Contenedor -->
    <!-- Primera Card -->
    <div
      data-aos="fade-up"
      class="bg-gray-50 border border-gray-200 rounded-lg p-8 md:p-12 mb-8"
    >
      <!-- Enlace -->
      <a
        routerLink="/about"
        class="bg-etiqueta-1 text-[#BC6C25] text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded-md mb-2"
      >
        <svg
          class="w-2.5 h-2.5 me-1.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 14"
        >
          <path
            d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z"
          />
        </svg>
        Acerca de Nosotros
      </a>
      <!-- Título -->
      <h1 class="text-gray-900 text-3xl md:text-4xl font-bold my-5">
        Conoce más sobre nosotros
      </h1>
      <!-- Parrafo -->
      <p class="text-base text-justify font-normal text-gray-500 my-6">
        Descubre quiénes somos, nuestra misión, visión y valores. Conoce nuestra
        historia y el equipo detrás de Huella Verde. Estamos comprometidos con
        la protección del medio ambiente y la promoción de un estilo de vida
        sostenible.
      </p>
      <!-- Botón -->
      <a
        routerLink="/about"
        class="my-4 inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-md bg-[#BC6C25] shadow-sm shadow-[#BC6C25]"
      >
        Más información
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
    <!-- Segundo Contenedor -->
    <div class="grid md:grid-cols-2 gap-8">
      <!-- Segunda Card -->
      <div
        data-aos="fade-left"
        class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12"
      >
        <!-- Enlace -->
        <a
          routerLink="/material"
          class="bg-etiqueta-2 text-[#bc4749] text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded-md mb-2"
        >
          <svg
            class="w-2.5 h-2.5 me-1.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 18"
          >
            <path
              d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"
            />
          </svg>
          Recursos Educativos
        </a>
        <!-- Título -->
        <h2 class="text-gray-900 text-3xl font-bold my-5">
          Explora material educativo
        </h2>
        <!-- Parrafo -->
        <p class="text-base text-justify font-normal text-gray-500 my-6">
          Encontrarás una variedad de materiales, desde artículos, guías hasta
          videos. Descubre soluciones innovadoras y encuentra formas prácticas
          de reducir tu impacto ambiental.
        </p>
        <!-- Botón -->
        <a
          routerLink="/material"
          class="my-4 inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-md bg-[#bc4749] shadow-sm shadow-[#bc4749]"
          >Ver Recursos
          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
      <!-- Tercera Card -->
      <div
        data-aos="fade-right"
        class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12"
      >
        <!-- Enlace-->
        <a
          routerLink="/calculator"
          class="bg-etiqueta-3 text-[#4F772D] text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded-md mb-2"
        >
          <svg
            class="w-2.5 h-2.5 me-1.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"
            />
          </svg>
          Huella de Carbono
        </a>
        <!-- Título -->
        <h2 class="text-gray-900 text-3xl font-bold my-5">
          Calcula tu huella de carbono
        </h2>
        <!-- Párrafo -->
        <p class="text-base text-justify font-normal text-gray-500 my-6">
          Descubre cuánto CO2 estás emitiendo en tu estilo de vida actual. Te
          ayuda a identificar áreas de mejora y te proporciona consejos
          prácticos para vivir de manera más sostenible.
        </p>
        <!-- Botón -->
        <a
          routerLink="/calculator"
          class="my-4 inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-md bg-[#4F772D] shadow-sm shadow-[#4F772D]"
          >Calcular Ahora
          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
