<!-- Primera Sección -->
<section class="bg-[#ECF39E] py-32">
  <div class="container mx-auto text-center font-poppins">
    <!-- Título -->
    <h2 class="text-4xl font-bold my-8 mx-10 md:text-5xl">
      Acerca de Nosotros
    </h2>
    <!-- Descripción -->
    <p class="text-base text-blaack my-8 mx-16 lg:mx-40">
      Somos un grupo de estudiantes de la carrera de Ingeniería de Computación y
      Sistemas del noveno ciclo en busca de crear un impacto positivo en nuestra
      comunidad a través de la tecnología. Nos apasiona la innovación, el
      desarrollo de software y la creación de soluciones que aborden desafíos
      del mundo real.
    </p>
    <!-- Etiquetas -->
    <div class="flex justify-center space-x-6 flex-wrap">
      <div class="flex items-center bg-white px-2 py-1 rounded-md shadow-md">
        <i class="fas fa-user text-[#4F772D] text-[12px]"></i>
        <span class="ml-2 text-[14px]">Equipo</span>
      </div>
      <div class="flex items-center bg-white px-2 py-1 rounded-md shadow-md">
        <i class="fas fa-cogs text-[#4F772D] text-[12px]"></i>
        <span class="ml-2 text-[14px]">Misión</span>
      </div>
      <div class="flex items-center bg-white px-2 py-1 rounded-md shadow-md">
        <i class="fas fa-eye text-[#4F772D] text-[12px]"></i>
        <span class="ml-2 text-[14px]">Visión</span>
      </div>
    </div>
  </div>
</section>

<!-- Segunda Sección -->
<section class="bg-[#e9edc9] py-24">
  <div class="container mx-auto">
    <div class="flex flex-col items-center font-poppins">
      <!-- Título -->
      <h2 class="text-4xl font-bold mb-8 text-[#132A13] md:text-5xl">
        Nuestro Equipo
      </h2>
      <!-- Descripción -->
      <p class="text-base text-center text-black mb-12 mx-8">
        Conoce a las mentes creativas detrás de Huella Verde.
      </p>
      <!-- Grid de Cards -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- Card 1 -->
        <div
          class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700"
        >
          <div
            class="flex flex-col items-center justify-center h-full px-6 py-8"
          >
            <img
              class="w-24 h-24 mb-3 rounded-full shadow-lg"
              src="assets/img/about/user-beto.png"
              alt="Foto de perfil de usuario"
            />
            <h5
              class="mb-1 text-xl font-medium text-gray-900 dark:text-white text-center"
            >
              Roberto Chávez
            </h5>
            <span class="text-sm text-gray-500 dark:text-gray-400 text-center"
              >Estudiante</span
            >
          </div>
        </div>
        <!-- Card 2 -->
        <div
          class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700"
        >
          <div
            class="flex flex-col items-center justify-center h-full px-6 py-8"
          >
            <img
              class="w-24 h-24 mb-3 rounded-full shadow-lg"
              src="assets/img/about/user-ariana.png"
              alt="Foto de perfil de usuario"
            />
            <h5
              class="mb-1 text-xl font-medium text-gray-900 dark:text-white text-center"
            >
              Ariana Díaz
            </h5>
            <span class="text-sm text-gray-500 dark:text-gray-400 text-center"
              >Estudiante</span
            >
          </div>
        </div>
        <!-- Card 3 -->
        <div
          class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700"
        >
          <div
            class="flex flex-col items-center justify-center h-full px-6 py-8"
          >
            <img
              class="w-24 h-24 mb-3 rounded-full shadow-lg"
              src="assets/img/about/user-yumi.png"
              alt="Foto de perfil de usuario"
            />
            <h5
              class="mb-1 text-xl font-medium text-gray-900 dark:text-white text-center"
            >
              Yumi Reyes
            </h5>
            <span class="text-sm text-gray-500 dark:text-gray-400 text-center"
              >Estudiante</span
            >
          </div>
        </div>
        <!-- Card 4 -->
        <div
          class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700"
        >
          <div
            class="flex flex-col items-center justify-center h-full px-6 py-8"
          >
            <img
              class="w-24 h-24 mb-3 rounded-full shadow-lg"
              src="assets/img/about/user-edu.png"
              alt="Foto de perfil de usuario"
            />
            <h5
              class="mb-1 text-xl font-medium text-gray-900 dark:text-white text-center"
            >
              Eduardo Rodríguez
            </h5>
            <span class="text-sm text-gray-500 dark:text-gray-400 text-center"
              >Estudiante</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tercera Sección -->
<section class="bg-white py-24">
  <div class="container mx-auto text-center font-poppins">
    <!-- Título -->
    <h2 class="text-4xl font-bold my-10 mx-10 md:text-5xl text-[#132A13]">
      Propósito de Huella Verde
    </h2>
    <!-- Primer Proyecto -->
    <div
      class="flex flex-col items-center justify-center my-14 mx-10 bg-white border border-gray-200 rounded-lg shadow-md md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-64 md:rounded-none md:rounded-l-lg"
        src="assets/img/about/mision.png"
        alt="Proyecto 1"
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="my-2 text-2xl font-bold text-gray-900 text-left mx-5 lg:mx-10"
        >
          Misión
        </h5>
        <p
          class="my-3 font-normal text-gray-700 text-base text-justify mx-5 lg:mx-10"
        >
          Promover un estilo de vida sostenible y consciente del medio ambiente
          mediante el uso de la tecnología. Nos comprometemos a desarrollar
          soluciones innovadoras que inspiren a las personas a tomar acciones
          concretas para reducir su impacto ambiental y preservar nuestro
          planeta para las generaciones futuras.
        </p>
      </div>
    </div>
    <!-- Segundo Proyecto -->
    <div
      class="flex flex-col items-center justify-center my-8 mx-10 bg-white border border-gray-200 rounded-lg shadow-md md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-64 md:rounded-none md:rounded-l-lg"
        src="assets/img/about/vision.png"
        alt="Proyecto 2"
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="my-2 text-2xl font-bold text-gray-900 text-left mx-5 lg:mx-10"
        >
          Visión
        </h5>
        <p
          class="my-3 font-normal text-gray-700 text-base text-justify mx-5 lg:mx-10"
        >
          Crear una comunidad global comprometida con la protección del medio
          ambiente y la adopción de prácticas sostenibles en todas las áreas de
          la vida. Nos esforzamos por ser líderes en la generación de conciencia
          ambiental y en el desarrollo de herramientas tecnológicas que
          faciliten un estilo de vida más ecológico y equilibrado.
        </p>
      </div>
    </div>
  </div>
</section>
