<footer class="bg-white rounded-lg shadow m-4 font-poppins">
  <div
    class="w-full mx-auto max-w-screen-xl p-8 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-[#132A13] sm:text-center"
      >© 2024 <a href="https://upao.edu.pe/" class="hover:underline">UPAO</a>.
      Computación Visual - G1
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-normal text-[#132A13] sm:mt-0"
    >
      <li>
        <a routerLink="/about" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a routerLink="/material" class="hover:underline me-4 md:me-6"
          >Artículos</a
        >
      </li>
      <li>
        <a routerLink="/calculator" class="hover:underline me-4 md:me-6"
          >Huella de Carbono</a
        >
      </li>
    </ul>
  </div>
</footer>
