<div class="shadow-xl rounded-lg font-poppins">
  <nav class="bg-white border-gray-200 dark:bg-gray-900 mx-4">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <!-- Logo del Sitio Web -->
      <div class="flex items-center space-x-3 rtl:space-x-reverse">
        <img
          routerLink="/home"
          src="assets/img/logo-huella-verde.png"
          class="h-12 w-12 md:h-14 md:w-14"
          alt="Flowbite Logo"
        />
      </div>
      <!-- Botones de Breakpoint - Menú Burguer -->
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button
          routerLink="/login"
          type="button"
          class="text-white gradient-bg font-medium rounded-md text-sm px-5 py-2 text-center"
        >
          Iniciar Sesión
        </button>
        <button
          data-collapse-toggle="navbar-cta"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-[#31572C] rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-cta"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>
      <!-- Enlaces -->
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-cta"
      >
        <ul
          class="text-[15px] flex flex-col font-normal p-4 md:p-0 mt-4 border border-gray-50 rounded-md bg-[#ECF39E] md:space-x-12 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white"
        >
          <li>
            <a
              routerLink="/home"
              routerLinkActive="font-semibold text-[#31572c]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 px-3 md:p-0 text-black rounded"
              >Inicio</a
            >
          </li>
          <li>
            <a
              routerLink="/about"
              routerLinkActive="font-semibold text-[#31572c]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 px-3 md:p-0 text-black rounded"
              >About</a
            >
          </li>
          <li>
            <a
              routerLink="/material"
              routerLinkActive="font-semibold text-[#31572c]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 px-3 md:p-0 text-black rounded"
              >Articulos</a
            >
          </li>
          <li>
            <a
              routerLink="/calculator"
              routerLinkActive="font-semibold text-[#31572c]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 px-3 md:p-0 text-black rounded"
              >Huella de Carbono</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
